/CLAUDE.md
/.claude/settings.local.json

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/awesome-web3.iml

/.idea/*

/AGENTS.md
AGENTS copy.md
